
    .content-chat{
        height: 45px;
        width: 100%;
        display: flex;
        padding-top: 10px;
        border-bottom: solid 1px gainsboro;
        margin: 0;
        .content-chat__header{
    
        }
    }
