.form-post{
    background-color:#FFFFFF;
    border-radius: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    >form{
        .form-post__body{
            display: flex;
            align-items: center;
            justify-content: center;
            >textarea{
                width: 95%;
                
                border:.75px solid gainsboro;
                padding: 10px;
                margin: 10px;
                border-radius: 10px;
                
            }
        }
        .form-post__submit{
            padding: 0;
         
            padding-left: 20px;
          
            .form-post__submit--box{
               
                display: flex;
                margin-right: 20px;
                >input{
                    display: none;
                    margin: 0;
                    
                }
                >div{
                    margin-top: -15px;
                    margin-right: 10px;
                    >label{
                        font-size: 40px;
                    }
                }
                >button{
                    
                    border-radius: 10px;
                    height: 35px;
                    border: solid .75px gainsboro;
                }
               
            }
           
           
        }
    }
}