
.menu-header{   
    margin-bottom: 15px;
    position: relative;
    margin-top: 0;
    height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 100;
    top: 0;

  
    .menu-header_input{
        .MuiSvgIcon-root{
            color: #a4acb8;
        }
        border-radius: 10px;
        border: .5px gainsboro solid;
        display: flex;
        align-items: center;  
        height: 45px;  
        background-color: #FFFFFF;
        
        
    }
    .menu-header__right{
        .menu-header__right--icon{
            position: absolute;
            display: flex;
            top: 10px;
            left: 270px;
          >div{
              background-color:crimson;
              width: 15px;
              height: 15px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              color: gainsboro;
              >span{
                  font-size: 10px;
              }

          }
            .fa-bell{
                font-size: 25px;
                color:#a4acb8;
                
            }
           
        }
        
        >.menu-header__right--avatar{
            float: right;
            background-color: brown;
            border-radius: 50%;
            width: 45px;
            height: 45px;
            >img{
                width: 45px;
                height: 45px;
                border-radius: 50%;
                object-fit: cover;
                overflow:hidden ;
            }
        }
       
    }
    
    
}
.layout{
    margin-top: 15px;
    height: 100%;
    margin-top: 85px;
    .layout__left{
        
    }
    .layout__content{
        padding: 0;
       
    }
    .layout__right{
       
    }
}

 .menu-header__right--notification{
    margin-top: 52px;
    margin-left: 0px;
  
    .menu-header__right--notification--content{
        overflow-y: scroll;
        width: 400px;
        max-height: 625px;
        padding: 10px;
        outline: none;
     
        >div{        
            display: flex;
            margin-bottom: 10px;
            
            >img{
                height: 50px;
                width: 50px;
                border-radius: 50%;
                object-fit: cover;
                overflow: hidden;
            }
            >div{
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 10px;
                margin: 0;
               >div{
                >p{
                    >span{
                        font-weight: 700;
                    }
                    margin-bottom: 0;
                    max-width: 320px;
                  display: block;
                }
               }
               
            }
        }
    }

 }