.menu-left{
    width: 100%;
    border: .5px gainsboro solid;
    border-radius: 20px;
    color: #BBBBBB;
    background-color: #FFFFFF;
    margin: 1px;
    overflow: hidden;
    .menu-left__icon{
        
        
    }
    
}
.MuiListItemText-root{
    color: #BBBBBB;
  
    &:hover{
        text-decoration: none;
        
    }
}