.menu{
    background: #FFFFFF;
    border: .75px solid gainsboro;
    border-radius: 20px;
    margin-left: 4%;
    position: fixed;
    width: 300px;
 
   .menu__listIcon{
    width: 100%;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.54);
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    .MuiButtonBase-root{
        color: #a4acb8;
        >span{
            margin-left: 15px;
            padding-bottom: 2px;          
        }
    }
   }
   
}
