
.menu-header{   
    position: relative;
    margin-top: 0;
    height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #FFFFFF;
  
    .menu-header_input{
        border-radius: 10px;
        border: .5px gainsboro solid;
        display: flex;
        align-items: center;  
        height: 45px;  
        background-color: #FFFFFF;
        
        
    }
    .menu-header__right{
       
        >div{
            float: right;
            background-color: brown;
            border-radius: 50%;
            width: 45px;
            height: 45px;
            >img{
                width: 45px;
                height: 45px;
            }
        }
    }
    
    
}
.layout{
    margin-top: 15px;
    height: 100%;
    .layout__left{
        
    }
    .layout__content{
        padding: 0;
    }
    .layout__right{
        
    }
}