
.menu-header{   
    margin-bottom: 15px;
    position: relative;
    margin-top: 0;
    height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 100;
    top: 0;

  
    .menu-header_input{
        .MuiSvgIcon-root{
            color: #a4acb8;
        }
        border-radius: 10px;
        border: .5px gainsboro solid;
        display: flex;
        align-items: center;  
        height: 45px;  
        background-color: #FFFFFF;
        
        
    }
    .menu-header__right{
       
        >div{
            float: right;
            background-color: brown;
            border-radius: 50%;
            width: 45px;
            height: 45px;
            >img{
                width: 45px;
                height: 45px;
                border-radius: 20%;
            }
        }
    }
    
    
}
.layout{
    margin-top: 15px;
    height: 100%;
    margin-top: 85px;
    .layout__left{
        
    }
    .layout__content{
        padding: 0;
       
    }
    .layout__right{
        /* position: fixed;
        right: 0;
        width: 500px; */
    }
}