.card {
  padding: 20px;
  margin: 1px;
  margin-top: 1px;
  display: flex;
  border-radius: 20px;
  border: 0.5px gainsboro solid;
  overflow: hidden;
  display: grid;
  margin-bottom: 20px;
  background-color: #ffffff;

  .card__title {
    display: flex;
    position: relative;
    > img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
    }
    .card__title--conteint {
      padding-left: 10px;
      > span {
        font-weight: bold;
      }
      > p {
        margin-top: 2px;
      }
    }
    .card__title--icon {
    }
  }
  .card__body {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .card__image {
    max-width: 100%;
    height: 400px;
    display: inline;

    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    >div{
        > img {
            border-radius: 20px;
            width: 698px;
            height: 400px;
            object-fit: cover;
          }
    }
    .multi-Image2 {
      > div {
        > img {
          border-radius: 20px;
          overflow: hidden;
          width: 340px;
          height: 400px;
          object-fit: cover;
          padding: 5px;
        }
      }
    }
    .multi-Image3 {
      > div {
        display: flex;
        > div {
          width: 340px;
          > img {
            border-radius: 20px;
            overflow: hidden;
            width: 340px;
            height: 200px;
            object-fit: cover;
            padding: 5px;
          }
        }
        > img {
          border-radius: 20px;
          width: 340px;
          height: 400px;
          object-fit: cover;
          padding: 5px;
        }
      }
    }
    .multi-Image4 {
      > div {
        > img {
          border-radius: 20px;
          overflow: hidden;
          width: 340px;
          height: 195px;
          object-fit: cover;
          margin: 5px;
        }
        .last-image {
            background-color: rgba(0,0,0,.5);
            opacity: .6;
            
        }

        > p {
          opacity: 1;
          color: white;
          font-size: 50px;
          position: absolute;          
          top: 390px;
          right: 195px;
          z-index: 5;
          font-weight: 700;
        }
      }
    }
    > video {
      width: 700px;
      border: none;
      outline: none;
    }
  }
  .card__bottom {
    margin-top: 20px;

    .card__bottom--button {
      width: 60px;
      height: 40px;
      border-radius: 10px;
      .MuiIconButton-label {
        color: #a4acb8;
        > p {
          padding-top: 5px;
          font-size: 12px;
          padding-left: 3px;
          font-weight: 700;
        }
      }
    }
    .card__bottom--button-liked {
      width: 60px;
      height: 40px;
      border-radius: 10px;
      .MuiIconButton-label {
        color: #167bff;
        > p {
          padding-top: 5px;
          font-size: 12px;
          padding-left: 3px;
        }
      }
    }
  }
}
