.login{
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #1C8EF9;
    height: 100vh;
    .login__loading{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    >form{
       
        width: 600px;
        height: 500px;
        border-radius: 20px;
        border: .75 solid gainsboro;
        background-color: #FFFFFF;
        padding-left: 90px;
        padding-top: 100px;
        .login__input{
            display: grid;
            >h2{
                padding-left: 25px;
                padding-bottom: 20px;
            }
            
            >input{
                width: 400px;
                height: 45px;
                border-radius: 10px;
                padding-left:15px ;
                margin-bottom:5px ;
                border: none;
                border:.75px solid gainsboro;
                overflow: hidden;
                &:focus{
                    border:none;
                    
                }
            }
            >label{
                margin-bottom: 5px;
                font-size: 17px;
                font-weight: 600;
            }
        }
      
        .layout__bottom{
            display: flex;
            align-items: center;
            >button{
                height: 45px;
                width: 150px;
                border-radius: 10px;                
                border: .75px solid gainsboro;
                background-color: #167BFF;
                color: #FFFFFF;
                margin-top: 10px;
                
            }
            >a{
                padding-left: 10px;
                text-decoration: none;
            }
        }
        .login__error{
            color: red;
        }
       
    }
}