.product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-right: 30px;
  overflow-y: scroll;
  .product__cart {
    width: 260px;
    margin-bottom: 15px;
    border-radius: 20px;
    background-color: #ffffff;
    min-height: 350px;
    border: solid 0.75px gainsboro;
    > img {
      padding: 10px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      width: 260px;
      height: 200px;
      object-fit: cover;
      overflow: hidden;
    }
    .product__cart--body {
      padding: 10px;
      > h5 {
        margin-bottom: 2px;
        > span {
          text-decoration: underline;
        }
      }
      > p {
        margin-bottom: 0px;
      }
    }
  }
}
.product__top {
  display: flex;
  margin-bottom: 20px;
  color: #a4acb8;
 >div{
   font-size: 15px;
    display: flex;
    position: relative;
    left: 500px;
    align-items: center;
    justify-content: center;
  
  >span{
   
    font-weight: 600;
    padding-right: 15px;
  }
  >a{
    margin-right: 10px;
  }
 }
  .product__top--add {
    position: absolute;
    right: 50px;
    border: none;
    color: white;
    font-weight: 700;
    border-radius: 15px;
    background-color: #1da1f2;
    height: 40px;
    &:hover {
      background-color: #1074b8;
    }
  }
  .product__top--filter {
    color: #a4acb8;
    height: 40px;
    position: absolute;
    right: 190px;
  }
}

.popup-product {
  background: rgba(0, 0, 0, 0.7);
  margin-left: -400px;
  .popup-product__box {
    outline: none;
    width: 700px;
    min-height: 400px;
    padding: 20px;

    > form {
      display: grid;
      > p {
        color: red;
      }
      .popup-product__box--image {
        display: flex;
        > div {
          color: #a4acb8;
          height: 70px;
          width: 70px;
          border: solid 0.75px gainsboro;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 15px;
          margin-bottom: 10px;
        }
        > img {
          height: 70px;
          width: 70px;
          border-radius: 15px;
          margin-right: 10px;
          object-fit: cover;
        }
      }
      > input,
      select {
        height: 40px;
        border-radius: 15px;
        margin-bottom: 10px;
        border: solid 0.75px gainsboro;
        outline: none;
        padding-left: 15px;
        padding-right: 15px;
      }
      > textarea {
        height: 100px;
        outline: none;
        border-radius: 15px;
        border-bottom-right-radius: 0;
        border: solid 0.75px gainsboro;
        padding: 15px;
        margin-bottom: 10px;
      }
      > button {
        border: none;
        width: 180px;
        background-color: #1da1f2;
        color: white;
        font-weight: 700;
        border-radius: 15px;
        height: 40px;
        margin-left: 230px;
      }
    }
  }
}

.filter-product__box {
  background: rgba(0, 0, 0, 0.7);
  .content {
    width: 300px;
    height: 400px;
  }
}


.menu-filter{
  width: 300px;
  background-color: white;
  border-radius: 20px;
  border: solid .75px gainsboro;
  position: relative;
  left: 45px;
  padding: 15px;
  >h6{
    color: #a4acb8;
    font-weight: 700;
    padding-left: 10px;
  }
  >button{
    display: flex;
    align-items: center;
    justify-self: center;
    font-weight: 600;
    width: 150px;
    background: #1DA1F2;
    border-radius: 15px;
    color: white;
    margin-left: 50px;
   
  }
  .menu__listIcon{
    width: 100%;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.54);
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    .MuiButtonBase-root{
        color: #a4acb8;
        >span{
            margin-left: 15px;
            padding-bottom: 2px;          
        }
    }
   }
}