.layout-chat{
   height: 100vh;
   margin-top: 85px;
    .layout-chat__left{

    }
    .layout-chat__content{
        height:615px;
        border-radius: 20px;
        background: #FFFFFF;
        border:solid .75px gainsboro;
        position: fixed;
        width: 1070px;
        left: 385px;
        padding: 0;
        display: flex;
        .layout-chat__content--left{        
            width: 30%;
            >div{
             
               
            }
        }
        .layout-chat__content--right{
        
            left: 30%;
           
            width: 70%;
        }
        
    }
    .content-chat__form{
        position: absolute;
        bottom: 5px;
        left: 330px;
        >form{
            >input{
                width: 670px;
                border: solid .75px gainsboro;
                height: 35px;
                border-radius: 20px;
                outline: none;
                padding-left: 20px;
            }
            >button{
                margin-left: 5px;
                border-radius: 20px;
                border: solid .75px gainsboro;
                background: #FFFFFF;
                height: 35px;
                width: 55px;
                &:hover{
                    background-color:#0096FA;
                    color: #FFFFFF;
                }
            }
        }
       
    }
}