//link
@import 'bootstrap/dist/css/bootstrap.min.css';


//components
@import './components/menuBar.scss';
@import './components//menuLef.scss';
@import '../styles/components/post.scss';
@import '../styles//components//listFriend.scss';
@import '../styles//components//formComment.scss';
@import '../styles//components//comment.scss';
@import '../styles//components/listUser.scss';
@import '../styles//components//formPost.scss';
@import './components//listChat.scss';
@import './components//contentChat.scss';



//pages
@import '../styles//pages/login.scss';
@import '../styles/pages/register.scss';
@import '../styles/pages/roomChat.scss';

body{
  background-color: #F7F7FA;
 /*  width: 90%;
  margin-left: 5%; */
  overflow-y: hidden;
  overflow-x: hidden;
}
html {
  overscroll-behavior: none;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.link{
  text-decoration: none;
  color: black;
  &:hover{
    color: black;
    text-decoration: none;
  }
}


.popup{
  width: 1000vh;
  height: 110vh;
  background:rgba(0,0,0,.7);
  position: absolute;
  top: -100px;
  left: -500px;
  z-index: 10;
}

