


//components
@import './menuBar.scss';
@import './components//menuLef.scss';
@import '../styles/components/post.scss';

body{
  background-color: #FDFDFC;
}
html {
  overscroll-behavior: none;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

